# Deep Learning Model - Keras
## Guide

In [ ]:
guide = "https://www.kaggle.com/code/jeddy4/keras-sequential-body-performance"

## Make necessary imports

In [3]:
import opendatasets as od
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import OrdinalEncoder
import tensorflow as tf
from tensorflow.keras import layers

## Importing data
### Import data

In [4]:
od.download("https://www.kaggle.com/datasets/kukuroo3/body-performance-dataset")   # Got error, so I downloaded it manually

Skipping, found downloaded files in ".\body-performance-dataset" (use force=True to force download)

### Read data

In [5]:
file = 'body-performance-dataset/bodyPerformance.csv'
df = pd.read_csv(file)
df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [7]:
df.describe()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
count,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000
mean,36.775106,168.559807,67.447316,23.240165,78.796842,130.234817,36.963877,15.209268,39.771224,190.129627
std,13.625639,8.426583,11.949666,7.256844,10.742033,14.713954,10.624864,8.456677,14.276698,39.868000
min,21.000000,125.000000,26.300000,3.000000,0.000000,0.000000,0.000000,-25.000000,0.000000,0.000000
25%,25.000000,162.400000,58.200000,18.000000,71.000000,120.000000,27.500000,10.900000,30.000000,162.000000
50%,32.000000,169.200000,67.400000,22.800000,79.000000,130.000000,37.900000,16.200000,41.000000,193.000000
75%,48.000000,174.800000,75.300000,28.000000,86.000000,141.000000,45.200000,20.700000,50.000000,221.000000
max,64.000000,193.800000,138.100000,78.400000,156.200000,201.000000,70.500000,213.000000,80.000000,303.000000

## Feature Engineering

In [8]:
class_names = ['1', '2', '3', '4']

In [9]:
enc = OrdinalEncoder()
temp = enc.fit_transform(df)
temp = pd.DataFrame(temp)

In [10]:
features = temp.copy()
labels = features[features.columns[:-1]]

In [11]:
features.head()

     0    1      2      3      4     5     6      7      8     9      10   11
0   6.0  1.0  280.0  911.0  208.0  47.0  49.0  441.0  358.0  62.0  167.0  2.0
1   4.0  1.0  207.0  292.0  124.0  44.0  45.0  254.0  335.0  55.0  179.0  0.0
2  10.0  1.0  353.0  985.0  188.0  59.0  71.0  338.0  288.0  51.0  131.0  2.0
3  11.0  1.0  302.0  772.0  165.0  43.0  66.0  304.0  323.0  55.0  169.0  1.0
4   7.0  1.0  295.0  660.0  142.0  36.0  46.0  325.0  449.0  47.0  167.0  1.0

In [12]:
labels.head()

     0    1      2      3      4     5     6      7      8     9      10
0   6.0  1.0  280.0  911.0  208.0  47.0  49.0  441.0  358.0  62.0  167.0
1   4.0  1.0  207.0  292.0  124.0  44.0  45.0  254.0  335.0  55.0  179.0
2  10.0  1.0  353.0  985.0  188.0  59.0  71.0  338.0  288.0  51.0  131.0
3  11.0  1.0  302.0  772.0  165.0  43.0  66.0  304.0  323.0  55.0  169.0
4   7.0  1.0  295.0  660.0  142.0  36.0  46.0  325.0  449.0  47.0  167.0

In [16]:
features_arr = np.array(features)
features_arr

array([[  6.,   1., 280., ...,  62., 167.,   2.],
       [  4.,   1., 207., ...,  55., 179.,   0.],
       [ 10.,   1., 353., ...,  51., 131.,   2.],
       ...,
       [ 18.,   1., 329., ...,  47., 179.,   0.],
       [ 43.,   0.,  23., ...,   0.,  26.,   3.],
       [ 13.,   1., 197., ...,  53., 130.,   2.]])

In [17]:
features_arr = np.asarray(features_arr).astype(np.float32)

## Model

### Without Normalization layer

In [14]:
model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(11)
])

model.compile(loss = tf.keras.losses.MeanSquaredError(), 
              optimizer = tf.optimizers.Adam(), 
              metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\henri\anaconda3\envs\ML-Pipeline\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [18]:
model.fit(features_arr, labels, epochs=15)

Epoch 1/15
WARNING:tensorflow:From c:\Users\henri\anaconda3\envs\ML-Pipeline\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\henri\anaconda3\envs\ML-Pipeline\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

419/419 [==============================] - 2s 2ms/step - loss: 6101.7236 - accuracy: 0.8932
Epoch 2/15
419/419 [==============================] - 1s 2ms/step - loss: 209.5054 - accuracy: 0.9825
Epoch 3/15
419/419 [==============================] - 1s 2ms/step - loss: 59.2797 - accuracy: 0.9907
Epoch 4/15
419/419 [==============================] - 1s 2ms/step - loss: 18.8071 - accuracy: 0.9962
Epoch 5/15
419/419 [==============================] - 1s 2ms/step - loss: 8.3832 - accuracy: 0.9979
Epoch 6/15
419/419 [==============================] - 1s 3ms/step - loss: 4.2615 - accuracy: 0.9984
Epoch 7/15
419/419 [==============================] - 1s 2ms/step - loss: 2.2003 - accuracy: 0.9987
Epoch 8/15
419/419 [==============================] - 1s 2ms/step - loss: 1.1355 - accuracy: 0.9991
Epoch 9/15
419/419 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.9992
Epoch 10/15
419/419 [==============================] - 1s 2ms/step - loss: 0.2555 - accuracy: 0.9993
Epoch 11/15
419/419 [==============================] - 1s 2ms/step - loss: 0.1097 - accuracy: 0.9994
Epoch 12/15
419/419 [==============================] - 1s 2ms/step - loss: 0.0452 - accuracy: 0.9996
Epoch 13/15
419/419 [==============================] - 1s 2ms/step - loss: 0.0232 - accuracy: 0.9996
Epoch 14/15
419/419 [==============================] - 1s 2ms/step - loss: 0.0168 - accuracy: 0.9996
Epoch 15/15
419/419 [==============================] - 1s 2ms/step - loss: 0.0327 - accuracy: 0.9996

### With Normalization layer

In [19]:
normalize = layers.Normalization()

In [20]:
normalize.adapt(features_arr)

In [21]:
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(11)
])

norm_abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                           optimizer = tf.optimizers.Adam(),
                           metrics=['accuracy'])

In [22]:
norm_abalone_model.fit(features_arr, labels, epochs=15)

Epoch 1/15
419/419 [==============================] - 2s 2ms/step - loss: 75433.2969 - accuracy: 0.5994
Epoch 2/15
419/419 [==============================] - 1s 2ms/step - loss: 60274.3828 - accuracy: 0.6536
Epoch 3/15
419/419 [==============================] - 1s 2ms/step - loss: 41556.1055 - accuracy: 0.6948
Epoch 4/15
419/419 [==============================] - 1s 2ms/step - loss: 23735.2578 - accuracy: 0.7608
Epoch 5/15
419/419 [==============================] - 1s 2ms/step - loss: 12162.6328 - accuracy: 0.8085
Epoch 6/15
419/419 [==============================] - 1s 2ms/step - loss: 6057.4355 - accuracy: 0.8440
Epoch 7/15
419/419 [==============================] - 1s 2ms/step - loss: 2969.7715 - accuracy: 0.8714
Epoch 8/15
419/419 [==============================] - 1s 2ms/step - loss: 1553.9088 - accuracy: 0.9012
Epoch 9/15
419/419 [==============================] - 1s 2ms/step - loss: 1013.0261 - accuracy: 0.9237
Epoch 10/15
419/419 [==============================] - 1s 2ms/step - loss: 809.6619 - accuracy: 0.9380
Epoch 11/15
419/419 [==============================] - 1s 2ms/step - loss: 696.7811 - accuracy: 0.9462
Epoch 12/15
419/419 [==============================] - 1s 2ms/step - loss: 604.4557 - accuracy: 0.9510
Epoch 13/15
419/419 [==============================] - 1s 2ms/step - loss: 518.9869 - accuracy: 0.9560
Epoch 14/15
419/419 [==============================] - 1s 3ms/step - loss: 435.4937 - accuracy: 0.9616
Epoch 15/15
419/419 [==============================] - 1s 2ms/step - loss: 350.8852 - accuracy: 0.9660